# Hercules
{% for host in ( groups[hercules_role] | sort ) %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ hostvars[host]['private_ip_address'] }}:9322"
  interval="60s"
  collection_jitter="20s"
{% endfor %}

# GDK
{% for host in ( groups[gdk_role] | sort ) %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ hostvars[host]['private_ip_address'] }}:2348"
  interval="60s"
  collection_jitter="20s"
{% endfor %}

# NON-GDK
{% for host in ( groups[non_gdk_role] | sort ) %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ hostvars[host]['private_ip_address'] }}:2348"
  interval="60s"
  collection_jitter="20s"
{% endfor %}

# OLTP
{% for host in ( groups[oltp_role] | sort ) %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ hostvars[host]['private_ip_address'] }}:2348"
  interval="60s"
  collection_jitter="20s"
{% endfor %}

# Entropy
{% for host in ( groups[entropy_role] | sort ) %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ hostvars[host]['private_ip_address'] }}:33303"
  interval="60s"
  collection_jitter="20s"
{% endfor %}

# C_ZNS_LOBBY
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ C_ZNS_LOBBY.split(":")[1] }}:{{ C_ZNS_LOBBY.split(":")[2] }}"
  interval="60s"
  collection_jitter="20s"

# C_ZNS_OLTP
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ C_ZNS_OLTP.split(":")[1] }}:{{ C_ZNS_OLTP.split(":")[2] }}"
  interval="60s"
  collection_jitter="20s"

# C_TEMPLATESERVER
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ C_TEMPLATESERVER.split(":")[1] }}:{{ C_TEMPLATESERVER.split(":")[2] }}"
  interval="60s"
  collection_jitter="20s"

# LOGINDBM
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ LOGINDBM.split(":")[1] }}:{{ LOGINDBM.split(":")[2] }}"
  interval="60s"
  collection_jitter="20s"

# sharedzone_crm
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ sharedzone_crm }}:2348"
  interval="60s"
  collection_jitter="20s"

# sharedzone_olap
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ sharedzone_olap }}:{{ sharedzone_olap_port }}"
  interval="60s"
  collection_jitter="20s"

# ZoneS Feed Manager
# @todo this is hardcoded until we figure out IPs for each environment
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ resolver_remote_host }}:2222"
  interval="60s"
  collection_jitter="20s"

# vim: ft=toml
