<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" monitorInterval="30">
   <Properties>
      <Property name="logs_dir">${sys:catalina.base}/logs</Property>
      <Property name="app">pragmaticlivegateway</Property>
      <Property name="pattern">%d{ISO8601} %-5p %c - [%t] %msg%n</Property>
   </Properties>
   <Appenders>
      <RollingFile name="file">
         <!-- Rotate every [interval]. -->
         <FileName>${logs_dir}/${app}.log</FileName>
         <FilePattern>${logs_dir}/${app}.log.%d{yyyyMMdd}.gz</FilePattern>
         <PatternLayout>
            <Pattern>${pattern}</Pattern>
         </PatternLayout>
         <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
         </Policies>
         <!-- Delete log files older than 7 days -->
         <DefaultRolloverStrategy>
            <Delete basePath="${logs_dir}">
               <IfFileName glob="*.log*" />
               <IfLastModified age="P7D" />
            </Delete>
         </DefaultRolloverStrategy>
      </RollingFile>
   </Appenders>
   <Loggers>
      <Root level="{{ gateway_log_level }}">
         <AppenderRef ref="file" level="{{ gateway_log_level }}" />
      </Root>
   </Loggers>
</Configuration>
