# Hercules
{% for host in groups[hercules_role] %}
[[inputs.net_response]]
  protocol = "tcp"
  address = "{{ hostvars[host]['private_ip_address'] }}:9322"
  interval="60s"
  collection_jitter="20s"
{% endfor %}

# TODO: Enable when zoneS-handsarchive is updated
# HandsArchive
#[[inputs.net_response]]
  #protocol = "tcp"
  #address = "{{ db_config['dbs']['zoneS-handsarchive']['host'] }}:{{ db_config['dbs']['zoneS-handsarchive']['port'] }}"
  #interval = "60s"
  #collection_jitter="20s"
# vim: ft=toml
