{
  "tableTypes": [
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AOGGodsOfStormsFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AOGGodsOfStormsMFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodsofStormsFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodsofStormsMFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsMRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "AgeOfTheGodsGodofStormsRealMRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Playtech"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaRealCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBassBonanzaFunCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealDK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunDK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BigBuffaloMegawaysFunGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Skywind"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealDK",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunDK",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunES",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealNL",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunNL",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadRealCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "BookOfDeadFunCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzuma",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUN",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaCOMEUGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaDESH",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaNL",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNNL",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "GDKCashzumaFUNCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "The Stars Studios"
        }
      ]
    },
    {
      "tableTypeRef": "EvCrazyTimeRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Evolution"
        }
      ]
    },
    {
      "tableTypeRef": "EvCrazyTimeReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Evolution"
        }
      ]
    },
    {
      "tableTypeRef": "EvCrazyTimeRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Evolution"
        }
      ]
    },
    {
      "tableTypeRef": "EvCrazyTimeRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Evolution"
        }
      ]
    },
    {
      "tableTypeRef": "EvCrazyTimeRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Evolution"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusFunCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GatesOfOlympusRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSFunES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "GoldBlitz94MGSRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "Microgaming"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealDK",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadFunDK",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadFunRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadFunGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadRealCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "LegacyOfDeadFunCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "FALSE"
        },
        {
          "name": "Wilds",
          "value": "TRUE"
        },
        {
          "name": "VendorName",
          "value": "PlayNGo"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealUK",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealEUR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealDE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealCA",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealES",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealIT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealPT",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealSE",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunGR",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFunCAON",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaRealRO",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaFun",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    },
    {
      "tableTypeRef": "SweetBonanzaReal",
      "props": [
        {
          "name": "Multiplier",
          "value": "TRUE"
        },
        {
          "name": "Wilds",
          "value": "FALSE"
        },
        {
          "name": "VendorName",
          "value": "Pragmatic"
        }
      ]
    }
  ]
}
