[[inputs.x509_cert]]
  sources = ["file:///d:/apps/configs/c_auxukgw/sbgcert/certificate.crt", "file:///d:/apps/configs/c_auxukgw/sbgcert/ca-bundle.crt"]
  tls_ca = "d:/apps/configs/c_auxukgw/sbgcert/ca-bundle.crt"
